POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=reviews_analytics_development
DATABASE_URL=postgresql://your_db_user:your_db_password@db:5432/reviews_analytics_development
REDIS_URL=redis://redis:6379/0
RAILS_MASTER_KEY=your_master_key
